* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  background: #33c573;
}

html#eip {
  overflow-x: hidden;
}

body {
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

.logo {
  width: 100%;
}

.eip {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@keyframes inline {
  0% {top: -5vw}
  100% {top: 5vw}
}

@keyframes regular {
  0% {left: -5vw}
  100% {left: 5vw}
}

@keyframes outline {
  0% {top: 5vw}
  100% {top: -5vw}
}

@keyframes shade {
  0% {left: 5vw}
  100% {left: -5vw}
}

#inline {
  animation: inline 1s linear infinite alternate;
}

#regular {
  animation: regular 1s linear infinite alternate;
}

#outline {
  animation: outline 1s linear infinite alternate;
}

#shade {
  animation: shade 1s linear infinite alternate;
}
