* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  background: #ff4422;
}

html#ofh {
  overflow: hidden;
}

body {
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

.logo {
  width: 100%;
}

.iip, .etr, .smim {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: pulse 2s ease-in-out infinite;
          animation: pulse 2s ease-in-out infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.sssh {
  width: 50%;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (orientation: portrait) {
  .sssh {
    width: 90%;
  }
}

#stay {
  bottom: 51%;
}

#safe {
  top: 51%;
  -webkit-animation: safe 3s linear infinite;
          animation: safe 3s linear infinite;
}

#home {
  top: 51%;
  -webkit-animation: home 3s linear infinite;
          animation: home 3s linear infinite;
}

@-webkit-keyframes safe {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
}

@keyframes safe {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    opacity: 0;
  }
  90% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
}

@-webkit-keyframes home {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  90% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes home {
  0% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  90% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    opacity: 0;
  }
}
